{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}
{% if draw_controls %}
    <input id="add-item-quantity-{{ nid }}" class="add-item-quantity" type="number" value="1" step="1" min="1" max="10" />&nbsp;<button type="button" onclick="addItem({{ nid }})">Add</button>
{% elseif nid == 0 %}
    {{ output -}}
{% else %}
    <span class="out-of-stock">Out of stock</span>
{% endif %}
