{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 */
#}
{{ attach_library('houston_meats/houston_meats.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
